<launch>
  <!-- Arguments -->
    <!-- <remap from="scan" to="/p3dx/laser/scan"/>
    <remap from="cmd_vel" to="/p3dx/cmd_vel"/> -->
    <remap from="scan" to="/p3dx/laser/scan"/>
    <remap from="cmd_vel" to="/RosAria/cmd_vel"/>
    <arg name="use_sim_time"   default="true"/>
    <arg name="robot_real"     default="true"/>
    <arg name="map_name"       default="stage_real"/>
    <!-- <arg name="worldname"      default="lab"/> -->
     
    <arg name="model_type" default="pioneer3dx" />

    <!-- <param name="robot_description"
		command="$(find xacro)/xacro '$(find p3dx_description)/urdf/pioneer3dx.xacro'" />

    <include file="$(find p3dx_control)/launch/control.launch" />

    <include file="$(find joy_base)/launch/joy.launch"/> 

    <node pkg="rosaria" type="RosAria" name="p3dx"/>

    <node name="urg_node" pkg="urg_node" type="urg_node" output="screen">
        <remap from="scan" to="/p3dx/laser/scan"/>
    </node> -->

    <include file="$(find back_perception)/launch/cam.launch"/>
    
    <!-- <include file="$(find bringup)/launch/localization/localization.launch">
      
      <arg name="map_name" value="$(arg map_name)"/>
    </include>

    <include file="$(find bringup)/launch/navigation/navigation.launch">  
      
      <arg name="map_name" value="$(arg map_name)"/>
    </include> -->

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find p3dx_description)/rviz/visualization.rviz" />

</launch>
 