<launch>
  <!-- Arguments -->
  <arg name="move_forward_only" default="true"/>
  <arg name="map_name" default="stage_real"/>

  <!-- Map Server -->
  <!-- <node pkg="map_server" type="map_server" name="map_server"
    respawn="true" args="$(find bringup)/maps/$(arg map_name).yaml"/> -->

  <!-- move_base -->
  <include file="$(find bringup)/launch/navigation/move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>
</launch>
