<launch>
  <!-- Arguments -->
  <arg name="move_forward_only" default="true"/>
  <arg name="map_name" default="map"/>

  <!-- move_base -->
  <include file="$(find bringup)/launch/navigation/move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>
</launch>
